body {
    background: rgb(230, 115, 115);
}

h1 {
    color: blue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif   ;
}

.informatica {
    color: beige;
}

#diseño {
    color: brown;
}

.bg-green{
    background: green;
}

.text-white{
    color: white;
}

/* selectores{
    estilos
}
*/

/*
#id{}
.clase{}
etiqueta{}
*/